
body {
    overflow: hidden !important;
}
.drums_holder svg{

    position: fixed;
    top: -100px;
    left: 300px;
    height: 720px !important;
}
.position-fixed{
    position: fixed;
    z-index: 10000;
}
.clickable_plates, .clickable_drum, .hihat_plates{
    cursor: pointer;
}
.btn{
    pointer-events: none;
}
.btn-crash{
    left: 400px;
    top: 100px;
}
.btn-floor-tom{
    top: 166px;
    left: 482px;
}
.btn-tom-left{
    top: 50px;
    left: 576px;
}
.btn-tom-right {
    top: 50px;
    left: 756px;
}
.btn-kick-drum {
    top: 360px;
    left: 645px;
}
.btn-snare-drum {
    top: 170px;
    left: 818px;
}
.btn-hi-hat {
    top: 178px;
    left: 940px;
}

#visualizer{
    position: fixed;
    bottom: 5px;
    left: 20%;
}

